{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><h5><a href="{% url 'tourney_index' %}">Турніри</a></h5></li>
  <li class="breadcrumb-item active">положення</li>

{% endblock %}

{% block content %}

   <h2>РЕЙТИНГ</h2>
<p>
Результати виступів кожного гравця вносяться в рейтинг згідно шкали.<p>
Для кожного турніру визначається коефіцієнт, на який домножуються бали із шкали.

    <h4> Шкала рейтингових балів </h4>
    <div class="table-responsive">
  <table class="table table-striped">
  <tr>
    <th>Місце</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
  </tr>
  <tr>
    <th>Бали</th>
    <th>1000</th>
    <th>700</th>
    <th>500</th>
    <th>400</th>
    <th>350</th>
    <th>275</th>
    <th>225</th>
    <th>175</th>
  </tr>
</table>
    </div>
    Гравцям, які зайняли місце після 8, бали нараховуються по наступній формулі:<p>
від суми балів за 8 місце віднімається одиниця. Це число ділиться на число "позицій"(зайнятих місць), при чому нерозіграні місця вважаються одною позицією.
Отримане число округляється в меншу сторону. Воно визначає рейтинговий крок - на його значення відрізняються бали для місць з 9-го по передостаннє. Гравці, які зайняли останнє місце отримують 1 бал.<p>

У випадку дострокового завершення турніру без поважної причини і повідомлення оргкомітету, гравцю начисляється 0 балів.
{% endblock %}